// >>-- 999 CUSTOM css start --<<
.tab-link {
  display: flex;
  justify-content: center;
}

.profile-app-tabs .tab-link {
  display: list-item;
  justify-content: unset;
}

// >>-- 999 CUSTOM css end --<<